.App {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #e6e5e3;
    min-height: 100vh;
}

header {
    flex: 0 0 100%;
    text-align: center;
    padding: 0.5em;
    background-color: white;
}



.progress {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    flex-basis: 70%;
}

.inner {
    background-color: white;
    border-radius: 10px;
    flex-grow: 1;
}

.progressCircle {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    flex-basis: 30%;
}

.circle {
    margin: auto;
    text-align: center;
}


.employees {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}

.temp {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}